.login_input {
  border-radius: 3px;
  border: 2px solid #dfe1e6;
  width: 100%;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.show_password {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 12px;
  font-weight: 400;
  color: rgba(124, 146, 166, 1);
  background-color: white;
  display: flex;
  align-items: center;
  margin: 6px 6px 6px 0;
}

.form-control {
  width: 100% !important;
  padding: 20px 0;
}

.account_success {
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.account_success.show {
  visibility: visible;
  opacity: 1;
}
