._badge {
  font-size: 15px;
  font-weight: 600;
  background-color: rgba(29, 88, 252, 0.2);
  border-radius: 8px;
  border: 2px solid rgba(29, 88, 252, 0.2);
}

.bg- {
  color: white;
  background-color: blue;
  border-radius: 50%;
  font-weight: 600;
}

.all {
  color: white;
  background-color: blue;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  width: fit-content;
}

.rounded {
  border-radius: 15px !important;
}
.num {
  border-radius: 50%;
  padding: 5px 13px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.bar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  height: 0.4px;
  transition: all 0.3s ease-in-out;
}

input {
  outline: none;
}
h1 {
  font-size: 33px !important;
  font-weight: 700;
}

.input {
  font-size: 17px;
  border: 1.89px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-transform: capitalize;
  width: 100%;
}

.txt {
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.profile {
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.icon {
  font-size: 25px;
}

.text {
  font-size: 16.5px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.check {
  background-color: blueviolet;
  width: fit-content;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  font-weight: lighter;
  padding: 24px 26px;
}

.btn_ {
  background-color: blueviolet;
  color: white;
  text-align: center;
  width: 100%;
  border-radius: 6px;
  font-size: 19px;
  text-transform: capitalize;
  font-weight: 400;
  padding: 8px 0px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn_:hover {
  opacity: 0.9;
}

.link {
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 14px;
  border: 1.89px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px 0 0 5px;
}

.logo {
  color: blueviolet;
  font-size: 30px;
}
.logo-text {
  font-size: 30px;
  font-weight: 800;
}
