.nav_section {
  z-index: 2;
  position: fixed;
  top: 55.98px;
  left: 0;
  bottom: 0;
  background-color: #4897d8;
}

.nav_link:hover {
  border-right: 1rem solid rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
}
.active {
  border-right: 1rem solid rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
}

@media (max-width: 992px) {
  .nav_margin {
    margin-left: 30% !important;
  }
}
@media (min-width: 993px) {
  .nav_margin {
    margin-left: 20% !important;
  }
}

@media (max-width: 992px) {
  .nav_section {
    width: 30% !important;
  }
}
@media (min-width: 993px) {
  .nav_section {
    width: 20% !important;
  }
}

.bd-bottom {
  width: 100%;
  padding: 0.5px;
  background-color: #dfe1e6;
}
