.sidebar {
  display: flex;
  align-items: center;
  height: 100%;
  position: fixed;
  width: 100vw;
  z-index: 1;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  transform: translate(-100%);
}

.sidebar.show {
  visibility: visible;
  transform: translate(0%);
}

.sidebar_content {
  height: 100vh;
  width: 80vw;
  overflow-y: auto;
  overflow: hidden;
  background-color: #4897d8;
  box-shadow: 70px 20px 70px 120px rgba(0, 0, 0, 0.2);
}

.closebar {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  color: rgb(255, 0, 191) !important;
  top: 1%;
  right: 1rem;
  font-size: 4rem;
}
