body {
  background-color: #f1fcff;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.primary_color {
  color: #4897d8;
}

.black {
  color: rgba(0, 0, 0, 1) !important;
}
.white {
  color: rgba(255, 255, 255, 1) !important;
}

.primary_bg_color {
  background-color: #4897d8 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.primary_text {
  color: #333333;
  font-size: 21px;
  font-weight: 700;
}
