* {
  box-sizing: border-box;
}
body {
  background-color: #f1fcff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.overflow::-webkit-scrollbar {
  display: none;
}
textarea {
  outline: unset !important;
  text-transform: capitalize;
}

input {
  outline: unset !important;
}

button {
  outline: unset !important;
}

.primary_color {
  color: #4897d8 !important;
}

.black {
  color: rgba(0, 0, 0, 1) !important;
}
.white {
  color: rgba(255, 255, 255, 1) !important;
}

.primary_bg_color {
  background-color: #4897d8 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.primary_text {
  color: #333333;
  font-size: 21px;
  font-weight: 700;
}

.link {
  text-decoration: none !important;
}
@media (min-width: 576px) {
  .margin {
    margin-left: 30% !important;
    margin-top: 55.98px;
  }
}
@media (min-width: 993px) {
  .margin {
    margin-left: 20% !important;
  }
}

.hr_line {
  width: 100%;
  padding: 0.015rem;
  background-color: #333333;
}

@media (min-width: 768px) {
  .modal-margin {
    margin-right: 15vw;
  }
}
@media (min-width: 768px) {
  .modal_margin {
    margin-left: 25vw;
  }
}
@media (min-width: 768px) {
  .colx {
    flex: 0 0 auto;
    width: 30%;
  }
  .colx-1 {
    flex: 0 0 auto;
    width: 8%;
  }
}
@media (min-width: 992px) {
  .colx {
    flex: 0 0 auto;
    width: 31.4%;
  }
  .colx-1 {
    flex: 0 0 auto;
    width: 5%;
  }
}
